<h1>Adam's Website</h1>
<app-gigs></app-gigs>

<favourite [is-favourite]="post.isFavourite" (change)="onFavouriteChange($event)"></favourite>

<bootstrap-panel>
    <ng-container class="header">Header</ng-container>
    <ng-container class="title"><h3>Body</h3></ng-container>
    <ng-container class="text">Text</ng-container>
</bootstrap-panel>

<like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked">
</like>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a [class.active]="viewMode == 'map'" class="nav-link" (click)="viewMode = 'map'">Map View</a>
    </li>
    <li class="nav-item">
        <a [class.active]="viewMode == 'list'" class="nav-link" (click)="viewMode = 'list'">List View</a>
    </li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Unknown View Content</div>
</div>

<button
    [ngStyle]="{
        'backgroundColor': canSave ? 'blue': 'gray',
        'color': canSave ? 'white': 'black',
        'fontWeight': canSave ? 'bold': 'normal'
    }">
Save
</button>

<br><br><br>

<!--Use ? after bill if chance of bill obj being null -->
<span>{{ event.bill.headline }}</span>

<input type="text" [appInputFormat]="'uppercase'">

<br><br><br>

<zippy title="Shipping Details">
    Shipping Details Content
</zippy>

<br><br><br>

<contact-form></contact-form>